# config_dev.env.example
# To use this, rename to "config_dev.env"
#######################################################################
# This file is read using django-environ, ie. this file
# consists of VALUE=KEY pairs, with each pair setting
# some configuration attribute of helfeedback
#
# As the name implies, this file is intended to be used
# in development only. Although nothing stops you from
# using it in production, you are much safer using environment
# variables therein. This file provides a nice template
# if your production system accepts environment variables
# in KEY=VALUE format
#
# Should you need to do custom configuration, there is
# also "local_settings.py.example" with similar usage.
#
# Below is a list of currently applicable settings, with
# default settings commented out
#######################################################################

# DEBUG controls Django debugging
# DEBUG=False

# INSTANCE_NAME add prefix to things that should be
# separate between installations, currently cookies
# INSTANCE_NAME=helfeedback

# URL_PREFIX adds path prefix, should you run the Django
# instance in a URL prefix, like "helfeedback". Currently
# affects cookie paths. Do NOT include a leading slash.
# URL_PREFIX=None

# TRUST_PROXY_SSL / TRUST_PROXY_HOST causes Django
# to trust HTTP_X_FORWARDED_PROTO and X_FORWARDED_HOST
# headers, respectively
# TRUST_PROXY_SSL=False
# TRUST_PROXY_HOST=False

# ALLOWED_HOSTS sets up Django ALLOWED_HOSTS
# Separate multiple entries with commas
# ALLOWED_HOSTS=(empty list)

# ADMINS sets up Django ADMINS settings
# Separate multiple entries with commas
# ADMINS=(empty list)

# DATABASE_URL specifies the database to use
# Syntax example: postgres://USER:PASSWORD@HOST:PORT/NAME
# DATABASE_URL=postgres:///helfeedback

# REDIS_URL specifies the Redis instance to use for Celery
# REDIS_URL=redis://localhost:6379/0

# MEDIA_ROOT and STATIC_ROOT are same as in Django.
# MEDIA_ROOT=(installation_directory/media
# STATIC_ROOT=(installation_directory)/static

# MEDIA_URL and STATIC_URL are also same as in Django
# MEDIA_URL=/media
# STATIC_URL=/static

# SENTRY_DSN, if specified sets this instance to send
# any exceptions to a sentry instance
# SENTRY_DSN='' (empty string)

# SECRET_KEY sets up Django SECRET_KEY settings
# this is currently buggy and does have affect anything
# Instead a random key will be generated on first run
