{% extends "minimal.html" %}
{% block main %}
            <div class="feedback-body">
                    <h4>Anna palautetta palvelusta</h4>
                    <hr>
                <div class="form-group">
                    <label for="options" class="control-label">Kuinka hyvin palvelu vastasi tarpeitasi?</label>
                    <div class="btn-group d-flex btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-secondary w-100">
                        <input type="radio" name="options" id="option1" autocomplete="off" aria-describedby="ratingHelp"> 1
                      </label>
                      <label class="btn btn-secondary w-100">
                        <input type="radio" name="options" id="option2" autocomplete="off" aria-describedby="ratingHelp"> 2
                      </label>
                      <label class="btn btn-secondary w-100">
                        <input type="radio" name="options" id="option3" autocomplete="off" aria-describedby="ratingHelp"> 3
                      </label>
                      <label class="btn btn-secondary w-100">
                        <input type="radio" name="options" id="option3" autocomplete="off" aria-describedby="ratingHelp"> 4
                      </label>
                    </div>
                    <small id="ratingHelp" class="form-text text-muted">Arvostele asteikolla 1 (heikko) - 4 (hyvä)</small>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="inputFeedbackText" class="control-label">Mitä voisimme vielä kehittää?</label>
                    <textarea class="form-control" rows="3" name="body" id="inputFeedbackText" required data-error="Täytä tämä kenttä."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
                <hr>
                <p>Voit jättää yhteystietosi jos haluat että otamme yhteyttä koskien palautettasi</p>
                <div class="form-group">
                    <label for="inputFeedbackName" class="control-label">Nimi</label>
                    <input type="text" class="form-control" name="name" id="inputFeedbackName" placeholder="Nimi">
                </div>
                <div class="form-group">
                    <label for="inputFeedbackEmail" class="control-label">Sähköposti</label>
                    <input type="email" class="form-control" name="email" id="inputFeedbackEmail" placeholder="Sähköposti" data-error="Sähköpostiosoite on väärin.">
                    <div class="help-block with-errors"></div>
                </div>

                <button type="submit" class="btn btn-secondary float-right">Lähetä</button>
            </div>



{% endblock %}
